```{=html}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@1.9.1/css/academicons.min.css">

<style>
  .btn-xs {
    padding: .07em .31em;
    font-size: .9em;
    color: #b33b72;
    border-color: #b33b72;
    text-transform:none;
    margin-top:.5em;
    border-bottom-width: .31em;
  }
  
  .btn-xs:hover {
    background-color: #b33b72;
    border-color: #b33b72;
  }
  
  .ai-lg {
    font-size: 1.2em;  /* Adjust as needed */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .card {
    margin-bottom: 0;
    margin-top: 0;
    border: 0;
    padding-bottom: 0;
  }
  
  .collapse {
    margin: 0;
    padding: 0;
  }
  
.project-categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0.35em 0 0.35em;
    padding-top: 
    padding-bottom: 0;
    row-gap: 0.4em;
    column-gap: 0.4em;
    font-family: $headings-font-family;
    }

.project-category {
    padding: 0.25em 0.75em 0.25em 0em;
    font-size: 0.7em;
    text-transform: uppercase;
        }

.project-category a {
    color: #343a40;
}

.project-category a:hover {
    color: #b33b72;
}


</style>

<ul class="list">
  <% for (const item of items) { %>
    <li <%= metadataAttrs(item) %>>
      <%= item.title %>
      <br/>
      <!-- paper info for not-yet-published papers -->
      <% if (item.type !== 'Published') { %>
        <small class="text-muted">
          <%= item.date %>. <%= item.author %>. <%= item.status %>.
        </small>
      <% } %>
      
      <!-- paper info for published papers -->
      <% if (item.type === 'Published') { %>
        <small class="text-muted">
          <%= item.year %>. <%= item.author %>. <%= item.venue %>.
        </small>
      <% } %>
    </li>
  <% } %>
</ul>

```