```{=html}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@1.9.1/css/academicons.min.css">

<style>
  
  .ai-lg {
    font-size: 1.2em;  /* Adjust as needed */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .card {
    margin-bottom: 0;
    margin-top: 0;
    border: 0;
    padding-bottom: 0;
  }
  
  .collapse {
    margin: 0;
    padding: 0;
  }
  



</style>

<ul class="list">
  <% for (const item of items) { %>
    <li <%= metadataAttrs(item) %>>
      <%= item.title %>
      <br/>
      <!-- paper info for not-yet-published papers -->
      <% if (item.type !== 'Published') { %>
        <small class="text-muted">
          <%= item.date %>. <%= item.author %>. <%= item.status %>.
        </small>
      <% } %>
      
      <!-- paper info for published papers -->
      <% if (item.type === 'Published') { %>
        <small class="text-muted">
          <%= item.year %>. <%= item.author %>. <%= item.venue %>. <%= item.location %>. <%= item.pres %>.
        </small>
      <% } %>
    </li>
  <% } %>
</ul>

```